body
{
}

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.navbar-toggle{
    float : left;
}
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
    height: 450px
}

.errPop {
    position:relative;
    width: 100%;
    height: 30px;
    background-color: #555d60;
    color: #a4a8a9;
    text-align: left;
    padding: 4px 10px;
}

    .errPop:after {
        content: "";
        position: absolute;
        top: -8px;
        left: 30px;
        border-style: solid;
        border-width: 0 8px 8px 8px;
        border-color: #555d60 transparent;
        display: block;
        width: 0;
        z-index: 1;
    }

.form-control::-webkit-input-placeholder {
    color: #c9c9c9;
}

.form-control:hover::-webkit-input-placeholder {
    color: #6b6b6b;
}

.form-control:hover {
    cursor: default;
}

.formdiv {
    background: url(/images/Feed_bg.jpg);
    background-repeat: round;
    background-size: cover;
}

.formtable tr td{
    padding : 5px;
}


.btnSubmit {
    border-radius: 20px;
    background-color: #ff5454;
    border-color: #ff5454;
    margin-top: 15px;
    padding: 5px 30px;
}
}
/* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
}

table{
    width:100%;
}

.input-lg {
    font-size :14px;
}

.socialIcon:hover {
    color: #ff5454;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #ff5454;
} 




.formtable {
    max-width: 500px;
    margin: auto;
    border: 1px solid #ccc;
    padding: 10px 5px;
    background: rgba(0,0,0,0.1);
    /*opacity : 0.4;*/
}
/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }

    .row.content {
        height: auto;
    }

    .navbar-brand {
        margin-left: 40%;
    }

}


@media screen and (max-width: 426px) {
    .formtable tr td{
        display : block;
    }
}


    /*#region Home*/

    .insta {
        background: url('/images/Feed_bg.jpg');
        background-size: cover;
        width: 100%;
        padding: 20px;
    }

    .carousel-caption {
        top: 30%;
    }

    .carousel-inner img {
        width: 100%; /* Set width to 100% */
        margin: auto;
    }

    .viewCase {
        background-color: black;
        color: white;
        border-radius: 25px;
        padding: 7px 15px;
        border: none;
    }

    .btn-primary:hover {
        background-color: #555;
    }


    .carousel-caption h3 {
        color: #000000 !important;
        font-weight: bold;
    }

    @media (max-width: 600px) {
    }


    /*#endregion*/


/*menu*/

.menui {
    background: #fff;
    transition: 0.6s ease;
    transition-timing-function: cubic-bezier(.75, 0, .29, 1.01);
    margin-top: 10px;
    position: absolute;
}

.icon {
    z-index: 999;
    float: left;
    display: block;
    padding: 9px;
    height: 32px;
    width: 32px;
    margin: 0px;
    top: 0;
    left: 0;
}

.mobilenav {
    margin-top: 50px;
    font-family: inherit;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000;
}

    .mobilenav li {
        list-style-type: none;
        text-align: center;
        padding: 10px;
    }

        .mobilenav li a {
            font-size: 150%;
            color: #fff;
            text-decoration: none;
            font-weight: 300;
            width: 100%;
        }

            .mobilenav li a:hover {
                color: #ff5454;
            }

        .mobilenav li:first-child {
            border-top: 1px solid #fff;
        }


.top-animate {
    background: #fff !important;
    top: 13px !important;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.mid-animate {
    opacity: 0;
}

.bottom-animate {
    background: #fff !important;
    top: 13px !important;
    -webkit-transform: rotate(-225deg);
    transform: rotate(-225deg);
}

.top-menu {
    top: 5px;
    width: 25px;
    height: 2px;
    border-radius: 10px;
}

.mid-menu {
    top: 13px;
    width: 25px;
    height: 2px;
    border-radius: 10px;
}

.bottom-menu {
    top: 21px;
    width: 25px;
    height: 2px;
    border-radius: 10px;
}

@media screen and (min-width: 768px) {
    .icon {
        display: none;
    }
}

#rudr_instafeed {
    list-style: none
}

    #rudr_instafeed li {
        float: left;
        width: 200px;
        height: 200px;
        margin: 10px
    }

        #rudr_instafeed li img {
            max-width: 100%;
            max-height: 100%;
        }

.instaText {
    overflow: hidden;
    margin: 0 0 10px;
    max-height: 58px;
}


.viewCase:hover {
    background-color: #ff5454;
}